API_RAG_Document_QA_Bot.json
{
  "name": "API RAG Document QA Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-api/chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "chat-webhook",
      "name": "Chat API Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        200
      ],
      "webhookId": "rag-api-chat"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-api/upload",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "upload-webhook",
      "name": "Upload API Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -300
      ],
      "webhookId": "rag-api-upload"
    },
    {
      "parameters": {
        "jsCode": "const GEMINI_API_KEY = $env.GEMINI_API_KEY || 'AIzaSyDKJFfT7VcgjRcKwAPbSgWiOF-Ii88f3lw';\nconst QDRANT_URL = $env.QDRANT_URL || 'http://localhost:6333';\nconst QDRANT_API_KEY = $env.QDRANT_API_KEY || '';\nconst COLLECTION = $env.QDRANT_COLLECTION || 'test_bot_knowledge';\n\nconst raw = $input.first().json;\nconst body = (raw.body && typeof raw.body === 'object') ? raw.body : raw;\nconst session_id = (body.session_id || '').toString().trim();\nconst message = (body.message || '').toString().trim();\n\nif (!session_id) throw new Error('session_id is required');\nif (!message) throw new Error('message is required');\n\nreturn [{ json: { session_id, message, GEMINI_API_KEY, QDRANT_URL, QDRANT_API_KEY, COLLECTION } }];"
      },
      "id": "validate-chat",
      "name": "Validate Chat Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const inp = $input.first().json;\nreturn [{ json: {\n  session_id: inp.session_id,\n  agent_input: inp.message,\n  GEMINI_API_KEY: inp.GEMINI_API_KEY,\n  QDRANT_URL: inp.QDRANT_URL,\n  QDRANT_API_KEY: inp.QDRANT_API_KEY,\n  COLLECTION: inp.COLLECTION\n} }];"
      },
      "id": "prepare-chat-agent",
      "name": "Prepare Chat Agent Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        200
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.agent_input }}",
        "options": {
          "systemMessage": "=You are a helpful document assistant accessible via API and embedded in websites. Users can upload PDF, Word (.docx/.doc), PowerPoint (.pptx/.ppt), and plain text (.txt) files; you answer questions about their contents.\n\nCurrent session ID: {{ $json.session_id }}\n\nTOOL USAGE RULES:\n- retrieve_documents: ALWAYS call this before answering any question about document contents. Pass input as JSON string: {\"query\":\"<search query>\",\"chat_id\":\"{{ $json.session_id }}\"}. Answer ONLY based on what this tool returns. Never invent information.\n- list_documents: input = the session_id string ({{ $json.session_id }}). Call when user asks what documents they have or 'list my documents'.\n- delete_document: input = JSON string {\"chat_id\":\"{{ $json.session_id }}\",\"document_name\":\"<exact name>\"}.\n\nOther rules:\n- If retrieve_documents returns 'No relevant content found', say so honestly and ask the user to upload a relevant document.\n- Cite the source document name in your answer.\n- Be helpful, clear, and concise in your responses.",
          "maxIterations": 10
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        960,
        200
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0.4,
          "maxOutputTokens": 2048
        }
      },
      "id": "gemini-model",
      "name": "Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        720,
        420
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Prepare Chat Agent Input').first().json.session_id }}",
        "contextWindowLength": 10
      },
      "id": "conv-memory",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        960,
        420
      ]
    },
    {
      "parameters": {
        "name": "retrieve_documents",
        "description": "Search and retrieve relevant content from the user's indexed documents. Input MUST be a JSON string: {\"query\":\"<search question>\",\"chat_id\":\"<session_id>\"}. Always include the user's session_id as chat_id. If the user refers to a document vaguely, call list_documents first to see exact names.",
        "jsCode": "function httpRequest(urlStr, method, body, apiKey) {\n  return new Promise((resolve, reject) => {\n    const isHttps = urlStr.startsWith('https://');\n    const lib = isHttps ? require('https') : require('http');\n    const noProto = urlStr.slice(isHttps ? 8 : 7);\n    const slashAt = noProto.indexOf('/');\n    const hostEnd = slashAt !== -1 ? slashAt : noProto.length;\n    const hostPort = noProto.slice(0, hostEnd);\n    const path = noProto.slice(hostEnd) || '/';\n    const colonAt = hostPort.lastIndexOf(':');\n    const hostname = colonAt !== -1 ? hostPort.slice(0, colonAt) : hostPort;\n    const port = colonAt !== -1 ? Number(hostPort.slice(colonAt + 1)) : (isHttps ? 443 : 80);\n    const bodyStr = JSON.stringify(body);\n    const hdrs = { 'Content-Type': 'application/json', 'Content-Length': bodyStr.length };\n    if (apiKey) hdrs['api-key'] = apiKey;\n    const req = lib.request(\n      { hostname, port, path, method, headers: hdrs },\n      res => {\n        let d = '';\n        res.on('data', c => d += c);\n        res.on('end', () => { try { resolve(JSON.parse(d)); } catch(e) { resolve({}); } });\n      }\n    );\n    req.on('error', reject);\n    req.write(bodyStr);\n    req.end();\n  });\n}\n\nconst GEMINI_API_KEY = $env.GEMINI_API_KEY || 'YOUR_GEMINI_API_KEY';\nconst QDRANT_URL = $env.QDRANT_URL || 'http://localhost:6333';\nconst QDRANT_API_KEY = $env.QDRANT_API_KEY || '';\nconst COLLECTION = $env.QDRANT_COLLECTION || 'test_bot_knowledge';\n\nlet userQuery = query.trim();\nlet chatId = '';\ntry {\n  const parsed = JSON.parse(userQuery);\n  userQuery = parsed.query || userQuery;\n  chatId = parsed.chat_id || '';\n} catch(e) {}\n\nif (!userQuery) return 'No query provided.';\n\nconst embedData = await httpRequest(\n  `https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent?key=${GEMINI_API_KEY}`,\n  'POST',\n  { model: 'models/gemini-embedding-001', content: { parts: [{ text: userQuery }] } }\n);\nconst vector = embedData.embedding?.values || [];\nif (vector.length === 0) return 'Failed to embed query. Response: ' + JSON.stringify(embedData).slice(0, 200);\n\nconst searchBody = { vector, limit: 5, with_payload: true, score_threshold: 0.3 };\nif (chatId) {\n  searchBody.filter = { must: [{ key: 'chat_id', match: { value: chatId } }] };\n}\nconst searchData = await httpRequest(`${QDRANT_URL}/collections/${COLLECTION}/points/search`, 'POST', searchBody, QDRANT_API_KEY);\nconst results = searchData.result || [];\n\nif (results.length === 0) return 'No relevant content found. Ask the user to name the document or upload it first.';\n\nreturn results.map(r => `[Source: ${r.payload?.document_name || 'Unknown'}]\\n${r.payload?.content || ''}`).join('\\n\\n---\\n\\n');\n"
      },
      "id": "retrieve-tool",
      "name": "retrieve_documents",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        1200,
        420
      ]
    },
    {
      "parameters": {
        "name": "list_documents",
        "description": "List all documents indexed for this session. Input must be the session_id string.",
        "jsCode": "function httpRequest(urlStr, method, body, apiKey) {\n  return new Promise((resolve, reject) => {\n    const isHttps = urlStr.startsWith('https://');\n    const lib = isHttps ? require('https') : require('http');\n    const noProto = urlStr.slice(isHttps ? 8 : 7);\n    const slashAt = noProto.indexOf('/');\n    const hostEnd = slashAt !== -1 ? slashAt : noProto.length;\n    const hostPort = noProto.slice(0, hostEnd);\n    const path = noProto.slice(hostEnd) || '/';\n    const colonAt = hostPort.lastIndexOf(':');\n    const hostname = colonAt !== -1 ? hostPort.slice(0, colonAt) : hostPort;\n    const port = colonAt !== -1 ? Number(hostPort.slice(colonAt + 1)) : (isHttps ? 443 : 80);\n    const bodyStr = JSON.stringify(body);\n    const hdrs = { 'Content-Type': 'application/json', 'Content-Length': bodyStr.length };\n    if (apiKey) hdrs['api-key'] = apiKey;\n    const req = lib.request(\n      { hostname, port, path, method, headers: hdrs },\n      res => {\n        let d = '';\n        res.on('data', c => d += c);\n        res.on('end', () => { try { resolve(JSON.parse(d)); } catch(e) { resolve({}); } });\n      }\n    );\n    req.on('error', reject);\n    req.write(bodyStr);\n    req.end();\n  });\n}\n\nconst QDRANT_URL = $env.QDRANT_URL || 'http://localhost:6333';\nconst QDRANT_API_KEY = $env.QDRANT_API_KEY || '';\nconst COLLECTION = $env.QDRANT_COLLECTION || 'test_bot_knowledge';\n\nconst chatId = query.trim();\ntry {\n  const data = await httpRequest(\n    `${QDRANT_URL}/collections/${COLLECTION}/points/scroll`,\n    'POST',\n    {\n      filter: { must: [{ key: 'chat_id', match: { value: chatId } }] },\n      limit: 100,\n      with_payload: ['document_name', 'doc_type'],\n      with_vector: false\n    },\n    QDRANT_API_KEY\n  );\n  const results = data.result?.points || data.result || [];\n  const seen = new Set();\n  const docs = [];\n  for (const r of results) {\n    const name = r.payload?.document_name || 'Unnamed';\n    const type = r.payload?.doc_type || '?';\n    if (!seen.has(name)) { seen.add(name); docs.push(name + ' [' + type + ']'); }\n  }\n  if (docs.length === 0) return 'No documents indexed yet for this session.';\n  return 'Indexed documents (' + docs.length + '): ' + docs.join(', ');\n} catch(e) { return 'Error: ' + e.message; }\n"
      },
      "id": "list-docs-tool",
      "name": "list_documents",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        1420,
        420
      ]
    },
    {
      "parameters": {
        "name": "delete_document",
        "description": "Delete a document from the session's knowledge base. Input must be JSON string: {\"chat_id\":\"<session_id>\",\"document_name\":\"<exact name>\"}.",
        "jsCode": "function httpRequest(urlStr, method, body, apiKey) {\n  return new Promise((resolve, reject) => {\n    const isHttps = urlStr.startsWith('https://');\n    const lib = isHttps ? require('https') : require('http');\n    const noProto = urlStr.slice(isHttps ? 8 : 7);\n    const slashAt = noProto.indexOf('/');\n    const hostEnd = slashAt !== -1 ? slashAt : noProto.length;\n    const hostPort = noProto.slice(0, hostEnd);\n    const path = noProto.slice(hostEnd) || '/';\n    const colonAt = hostPort.lastIndexOf(':');\n    const hostname = colonAt !== -1 ? hostPort.slice(0, colonAt) : hostPort;\n    const port = colonAt !== -1 ? Number(hostPort.slice(colonAt + 1)) : (isHttps ? 443 : 80);\n    const bodyStr = JSON.stringify(body);\n    const hdrs = { 'Content-Type': 'application/json', 'Content-Length': bodyStr.length };\n    if (apiKey) hdrs['api-key'] = apiKey;\n    const req = lib.request(\n      { hostname, port, path, method, headers: hdrs },\n      res => {\n        let d = '';\n        res.on('data', c => d += c);\n        res.on('end', () => { try { resolve(JSON.parse(d)); } catch(e) { resolve({}); } });\n      }\n    );\n    req.on('error', reject);\n    req.write(bodyStr);\n    req.end();\n  });\n}\n\nconst QDRANT_URL = $env.QDRANT_URL || 'http://localhost:6333';\nconst QDRANT_API_KEY = $env.QDRANT_API_KEY || '';\nconst COLLECTION = $env.QDRANT_COLLECTION || 'test_bot_knowledge';\n\nlet parsed;\ntry { parsed = JSON.parse(query); } catch(e) { return 'Invalid input. Expected JSON {chat_id, document_name}'; }\nconst chatId = parsed.chat_id || '';\nconst docName = parsed.document_name || '';\nif (!chatId || !docName) return 'Missing chat_id or document_name.';\ntry {\n  const data = await httpRequest(\n    `${QDRANT_URL}/collections/${COLLECTION}/points/delete`,\n    'POST',\n    { filter: { must: [\n      { key: 'chat_id', match: { value: chatId } },\n      { key: 'document_name', match: { value: docName } }\n    ] } },\n    QDRANT_API_KEY\n  );\n  if (data.status === 'ok') return 'Deleted \"' + docName + '\" successfully.';\n  return 'Result: ' + JSON.stringify(data.result || data);\n} catch(e) { return 'Error: ' + e.message; }\n"
      },
      "id": "delete-doc-tool",
      "name": "delete_document",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        1640,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const out = $input.first().json;\nconst prepIn = $('Prepare Chat Agent Input').first().json;\nlet response = out.output || out.text || 'Sorry, I could not generate a response.';\nreturn [{ json: {\n  session_id: prepIn.session_id,\n  response,\n  timestamp: new Date().toISOString()\n} }];"
      },
      "id": "extract-chat-response",
      "name": "Extract Chat Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "respond-chat",
      "name": "Respond Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1440,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const GEMINI_API_KEY = $env.GEMINI_API_KEY || 'AIzaSyDKJFfT7VcgjRcKwAPbSgWiOF-Ii88f3lw';\nconst QDRANT_URL = $env.QDRANT_URL || 'http://localhost:6333';\nconst QDRANT_API_KEY = $env.QDRANT_API_KEY || '';\nconst COLLECTION = $env.QDRANT_COLLECTION || 'test_bot_knowledge';\n\nconst raw = $input.first().json;\nconst body = (raw.body && typeof raw.body === 'object') ? raw.body : raw;\nconst session_id  = (body.session_id  || '').toString().trim();\nconst file_base64 = (body.file_base64 || '').toString().trim();\nconst mime_type   = (body.mime_type   || 'application/pdf').toString().trim();\nconst file_name   = (body.file_name   || 'document').toString().trim();\n\nif (!session_id)  throw new Error('session_id is required');\nif (!file_base64) throw new Error('file_base64 is required');\n\nreturn [{ json: { session_id, file_base64, mime_type, file_name, GEMINI_API_KEY, QDRANT_URL, QDRANT_API_KEY, COLLECTION } }];"
      },
      "id": "validate-upload",
      "name": "Validate Upload Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        -300
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=' + $json.GEMINI_API_KEY }}",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ contents: [{ parts: [{ inline_data: { mime_type: $json.mime_type, data: $json.file_base64 } }, { text: 'Extract ALL text from this document (PDF, Word, PowerPoint, or plain text). Return only the plain text in logical reading order. No commentary or extra formatting.' }] }] }) }}",
        "options": {}
      },
      "id": "extract-text-gemini",
      "name": "Extract Text via Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        520,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "const res = $input.first().json;\nconst uploadIn = $('Validate Upload Input').first().json;\n\nconst mimeToType = {\n  'application/pdf': 'PDF',\n  'text/plain': 'TXT',\n  'application/vnd.openxmlformats-officedocument.wordprocessingml.document': 'DOCX',\n  'application/msword': 'DOC',\n  'application/vnd.openxmlformats-officedocument.presentationml.presentation': 'PPTX',\n  'application/vnd.ms-powerpoint': 'PPT'\n};\n\nconst mimeType = uploadIn.mime_type || 'application/octet-stream';\nconst docType  = mimeToType[mimeType] || mimeType.split('/').pop().toUpperCase();\nconst fileName = uploadIn.file_name || 'document';\nconst docName  = fileName.replace(/\\.[^.]+$/, '');\n\nlet content = '';\ntry { content = res.candidates?.[0]?.content?.parts?.[0]?.text || ''; } catch(e) {}\nif (!content || content.length < 10) content = 'Document: ' + fileName;\n\nreturn [{ json: {\n  pageContent: content.substring(0, 50000),\n  metadata: {\n    chat_id:           uploadIn.session_id,\n    document_name:     docName,\n    original_filename: fileName,\n    doc_type:          docType,\n    mime_type:         mimeType,\n    timestamp:         new Date().toISOString()\n  },\n  chat_id:         uploadIn.session_id,\n  document_name:   docName,\n  doc_type:        docType,\n  GEMINI_API_KEY:  uploadIn.GEMINI_API_KEY\n} }];"
      },
      "id": "prepare-insert-item",
      "name": "Prepare Insert Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst pageContent   = item.pageContent || '';\nconst chat_id       = item.chat_id || item.metadata?.chat_id || '';\nconst document_name = item.document_name || item.metadata?.document_name || 'document';\nconst doc_type      = item.doc_type  || item.metadata?.doc_type  || 'TXT';\nconst mime_type         = item.metadata?.mime_type || '';\nconst original_filename = item.metadata?.original_filename || document_name;\nconst timestamp         = item.metadata?.timestamp || new Date().toISOString();\nconst GEMINI_API_KEY    = item.GEMINI_API_KEY || '';\nconst QDRANT_URL        = item.QDRANT_URL || $env.QDRANT_URL || 'http://localhost:6333';\nconst QDRANT_API_KEY    = item.QDRANT_API_KEY || $env.QDRANT_API_KEY || '';\nconst COLLECTION        = $env.QDRANT_COLLECTION || 'test_bot_knowledge';\n\nconst chunkSize = 1000, overlap = 100;\nconst chunks = [];\nif (pageContent.length === 0) {\n  chunks.push('(empty document)');\n} else {\n  let pos = 0;\n  while (pos < pageContent.length) {\n    chunks.push(pageContent.substring(pos, pos + chunkSize));\n    pos += chunkSize - overlap;\n    if (pos + overlap >= pageContent.length) {\n      if (pos < pageContent.length) chunks.push(pageContent.substring(pos));\n      break;\n    }\n  }\n}\n\nreturn chunks.map(chunk => ({ json: {\n  chunk,\n  chat_id, document_name, doc_type, mime_type, original_filename, timestamp,\n  GEMINI_API_KEY, QDRANT_URL, COLLECTION\n} }));"
      },
      "id": "split-chunks",
      "name": "Split Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -300
      ]
    },
    {
      "parameters": {
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent?key={{ $json.GEMINI_API_KEY }}",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'models/gemini-embedding-001', content: { parts: [{ text: $json.chunk }] } }) }}",
        "options": {}
      },
      "id": "get-embedding",
      "name": "Get Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1300,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "const embedding = $input.item.json;\nconst orig = $('Split Chunks').item.json;\n\nconst vector = embedding.embedding?.values || [];\nif (vector.length === 0) return [];\n\nfunction uuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\nreturn [{ json: {\n  point: {\n    id: uuid(),\n    vector,\n    payload: {\n      content:           orig.chunk,\n      chat_id:           orig.chat_id,\n      document_name:     orig.document_name,\n      doc_type:          orig.doc_type,\n      mime_type:         orig.mime_type,\n      original_filename: orig.original_filename,\n      timestamp:         orig.timestamp\n    }\n  },\n  chat_id:       orig.chat_id,\n  document_name: orig.document_name,\n  doc_type:      orig.doc_type,\n  QDRANT_URL:    orig.QDRANT_URL,\n  COLLECTION:    orig.COLLECTION\n} }];"
      },
      "id": "build-point",
      "name": "Build Point",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) throw new Error('No embeddings generated');\n\nconst first  = items[0].json;\nconst points = items.map(i => i.json.point);\n\nreturn [{ json: {\n  points,\n  chat_id:         first.chat_id,\n  document_name:   first.document_name,\n  doc_type:        first.doc_type,\n  chunks_inserted: points.length,\n  QDRANT_URL:      first.QDRANT_URL,\n  COLLECTION:      first.COLLECTION\n} }];"
      },
      "id": "aggregate-points",
      "name": "Aggregate Points",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        -300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.QDRANT_URL + '/collections/' + $json.COLLECTION + '/points?wait=true' }}",
        "method": "PUT",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ points: $json.points }) }}",
        "options": {}
      },
      "id": "upsert-to-qdrant",
      "name": "Upsert to Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2080,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "const aggrData = $('Aggregate Points').first().json;\nreturn [{ json: {\n  status:          'indexed',\n  session_id:      aggrData.chat_id,\n  document_name:   aggrData.document_name,\n  doc_type:        aggrData.doc_type,\n  chunks_inserted: aggrData.chunks_inserted,\n  message:         'Successfully indexed \"' + aggrData.document_name + '\" (' + aggrData.doc_type + ') with ' + aggrData.chunks_inserted + ' chunks.',\n  timestamp:       new Date().toISOString()\n} }];"
      },
      "id": "format-upload-response",
      "name": "Format Upload Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2340,
        -300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "respond-upload",
      "name": "Respond Upload",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2580,
        -300
      ]
    }
  ],
  "connections": {
    "Chat API Webhook": {
      "main": [
        [
          {
            "node": "Validate Chat Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Chat Input": {
      "main": [
        [
          {
            "node": "Prepare Chat Agent Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Chat Agent Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Extract Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Chat Response": {
      "main": [
        [
          {
            "node": "Respond Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "retrieve_documents": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "list_documents": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "delete_document": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Upload API Webhook": {
      "main": [
        [
          {
            "node": "Validate Upload Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Upload Input": {
      "main": [
        [
          {
            "node": "Extract Text via Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text via Gemini": {
      "main": [
        [
          {
            "node": "Prepare Insert Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Insert Item": {
      "main": [
        [
          {
            "node": "Split Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Chunks": {
      "main": [
        [
          {
            "node": "Get Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Embedding": {
      "main": [
        [
          {
            "node": "Build Point",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Point": {
      "main": [
        [
          {
            "node": "Aggregate Points",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Points": {
      "main": [
        [
          {
            "node": "Upsert to Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to Qdrant": {
      "main": [
        [
          {
            "node": "Format Upload Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Upload Response": {
      "main": [
        [
          {
            "node": "Respond Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-19T00:00:00.000Z",
  "versionId": "1"
}